@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation: bounce 1s ease;
}
/* Custom Tailwind Classes for Animations */
@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.animate-floating-slow {
  animation: float 4s ease-in-out infinite;
}

/* Simple hover effect */
img:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow on hover */
}

/* Keyframes for slow floating effect */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.typewriter p {
  animation: typewriter 4s steps(40, end) 1s 1 normal both,
    blink 500ms steps(40, end) infinite;
}

.blinking-cursor::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 1em;
  background-color: #0f0;
  margin-left: 2px;
  animation: blink 1s steps(2, start) infinite;
}

.terminal-body {
  overflow-y: auto;
  max-height: 210px;
}

@keyframes fill {
  from {
      width: 0%;
  }
  to {
      width: var(--progress);
  }
}

.progress-bar {
  transition: width 1s ease;
  width: 0; /* Start at 0% width */
  height: 100%;
  background-color: inherit; /* Ensure the color is inherited */
}

/* Blinking indicator */
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  display: none;
}
.curve {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #0f0f10;
  height: 85%;
}
/* style.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate__fadeInLeft {
    animation-name: fadeInLeft;
}

.animate__fadeInRight {
    animation-name: fadeInRight;
}

.animate__fadeInUp {
    animation-name: fadeInUp;
}

